---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/lists/combined-print-and-e-book-fiction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '985'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2018 The New York Times Company.  All
        Rights Reserved.","num_results":15,"last_modified":"2018-04-26T13:38:02-04:00","results":{"list_name":"Combined
        Print and E-Book Fiction","list_name_encoded":"combined-print-and-e-book-fiction","bestsellers_date":"2018-04-21","published_date":"2018-05-06","published_date_description":"latest","next_published_date":"","previous_published_date":"2018-04-29","display_name":"Combined
        Print & E-Book Fiction","normal_list_ends_at":15,"updated":"WEEKLY","books":[{"rank":1,"rank_last_week":0,"weeks_on_list":1,"asterisk":0,"dagger":0,"primary_isbn10":"1538761378","primary_isbn13":"9781538761373","publisher":"Grand
        Central","description":"Amos Decker, known as the Memory Man, puts his talents
        toward solving a string of murders in a Rust Belt town.","price":0,"title":"THE
        FALLEN","author":"David Baldacci","contributor":"by David Baldacci","contributor_note":"","book_image":"https:\/\/s1.nyt.com\/du\/books\/images\/9781538761397.jpg","book_image_width":328,"book_image_height":495,"amazon_product_url":"https:\/\/www.amazon.com\/Fallen-Memory-Man-David-Baldacci-ebook\/dp\/B074M62RVY?tag=NYTBS-20","age_group":"","book_review_link":"","first_chapter_link":"","sunday_review_link":"","article_chapter_link":"","isbns":[{"isbn10":"1538761394","isbn13":"9781538761397"},{"isbn10":"1538763087","isbn13":"9781538763087"},{"isbn10":"1538761378","isbn13":"9781538761373"}],"buy_links":[{"name":"Local
        Booksellers","url":"http:\/\/www.indiebound.org\/book\/9781538761373?aff=NYT"},{"name":"Barnes
        and Noble","url":"http:\/\/www.anrdoezrs.net\/click-7990613-11819508?url=http%3A%2F%2Fwww.barnesandnoble.com%2Fw%2F%3Fean%3D9781538761373"},{"name":"Amazon","url":"https:\/\/www.amazon.com\/Fallen-Memory-Man-David-Baldacci-ebook\/dp\/B074M62RVY?tag=NYTBS-20"}]},{"rank":2,"rank_last_week":5,"weeks_on_list":22,"asterisk":0,"dagger":0,"primary_isbn10":"0307887448","primary_isbn13":"9780307887443","publisher":"Broadw[...]
